<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragment.html :: header('Home Page')"></head>
<body>
<header th:include="fragment.html :: nav-bar"></header>
<table class="table">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">URL</th>
        <th scope="col">Description</th>
        <th scope="col">Copy</th>
    </tr>
    </thead>
    <tbody>
    <th:block th:each="url,count : ${urls}">
        <tr>
            <td th:text="${count.count}"></td>
            <td>
                <a th:href="@{'/go/'+${url.shortenedUrl}}" th:text="${url.originalUrl}"></a>
            </td>
            <td th:text="${url.description}"></td>
            <td th:text="${url.shortenedUrl}"></td>
        </tr>
    </th:block>
    </tbody>
</table>

</body>
</html>